<div class="gray-out-background">
</div>
  <body>
      <nav class="navbar navbar-dark bg-primary">
          <div class="row">
              <div class="col-2">
                  <div onclick="openNav()" class="navbar-brand">
                          <img src="assets/profile.png" width="30" height="30" class="d-inline-block align-top" alt="">
                  </div>
              </div>
              <div class="col-8">
                  <span class="navbar-brand" href="#">
                          {{this.officeName + " Feed"}}
                      </span>
              </div>
              <div class="col-2">
  
              </div>
        </div>
      </nav>
      



      <!-- TO-DO: ---- SIDE NAV ----- -->

      <!-- <div id="mySidenav" class="sidenav menu-text">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <img src="profile.png" alt="profile picture" height="100" class="ml-5"">
          <div class="menu-name-text">
            Whitney User
          </div>
          <a href="#">Home Feed</a>
          <a href="#">My Bubbles</a>
          <a href="#">Create Bubble</a>
          <a href="#">Account</a>
          <a href="#">Sign Out</a>
      </div> -->

