<div class="container custom-form">
  <h3>Create a bubl</h3>
  <form>
    <div class="form-group">
      <label for="title-input"> Title</label>
      <input (keyup)="onKey($event)" [(ngModel)]="summary" name="title-input" type="text" class="form-control" id="title-input" rows="3" />
      <small class="form-text text-right">{{totalSummaryLength}}/50 characters</small>
    </div>
    <div class="form-group">
      <label for="description-input"> Description</label>
      <textarea [(ngModel)]="description" name="description-input" class="form-control" placeholder="Describe your bubl here..." id="description-input" rows="5"></textarea>
    </div>
    <div class="form-group mt-3">
        <label for="due-date"> Due Date</label>
        <input [(ngModel)]="dueDate" type="date" name="due-date"  class="form-control date-field" id="title-input" rows="1" />
        <small class="form-text text-left">Cannot be more than 90 days out</small>
    </div>
        <button (click)="createBubl()" type="submit" class="btn btn-danger mt-2 submit-btn">Create bubl</button>
    </form>
</div>