
<div id="voted-alert-bar" class="sidenav menu-text">
  <div class="text-center">Vote Recorded!</div>
</div>


<div class="container-fluid">
    <div>
      <div class="row mt-2 mb-2">
          <h3 class="col text-center">{{bubl.summary}}</h3>
      </div>
      <div  class="row justify-content-center">
          <div (click)="upVote()" class="col-5 btn btn-primary mr-1">
              <img class="img-sm" src="assets/check.png"/>
          </div>
          <div (click)="downVote()" class="col-5 btn btn-danger ml-1">
              <img class="img-sm" src="assets/whitex.png"/>
          </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col text-center">
          {{bubl.description}}
        </div>
      </div>
      <hr/>
      <p class="text-center">
          <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Add a public comment
          </a>
      </p>
      <hr />
      <div class="collapse" id="collapseExample">
        <div class="input-group mb-3">
        <input [(ngModel)]="commentString" type="text" class="form-control" placeholder="Enter a comment or question" aria-label="Enter a comment or question" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button (click)="createNewComment()" class="btn btn-outline-secondary" type="button">Post</button>
          </div>
        </div>
      </div>
      <comment *ngFor="let comment of bubl.comments"
        [comment] = "comment">
      </comment>
    </div>
  </div>